/* =========================
GLOBAL
========================= */

*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

font-family:"Segoe UI",sans-serif;

background:
radial-gradient(
circle at top,
#353018,
#080808
);

color:white;

}



/* =========================
HEADER
========================= */


header{

padding: 25px 20px;

text-align:center;

background:
rgba(255,255,255,.05);

backdrop-filter:blur(12px);

border-bottom:
1px solid rgba(255,255,255,.1);

}



header h1{


font-size:50px;


background:

linear-gradient(
90deg,
orange,
#eaff00
);


-webkit-background-clip:text;

-webkit-text-fill-color:transparent;


}


header p{


margin-top:15px;

color:#aaa;

font-size:18px;

}



/* =========================
CONTACT SECTION
========================= */


.contact-section{


max-width:1200px;


margin:80px auto;


padding:20px;


}




.contact-content{


display:grid;


grid-template-columns:
1fr 1fr;


gap:60px;


align-items:center;


}



/* LEFT SIDE */


.contact-text h2{


font-size:45px;


margin-bottom:20px;

justify-content: center;
text-align: center;
background:

linear-gradient(
90deg,
orange,
#dfff00
);


-webkit-background-clip:text;

-webkit-text-fill-color:transparent;


}



.contact-text > p{


color:#bbb;

font-size:18px;

line-height:1.8;

margin-bottom:35px;


}




.contact-cards{


display:flex;


flex-direction:column;


gap:18px;


}




.card{


padding:22px;


background:

rgba(255,255,255,.05);


border-radius:18px;


border:

1px solid rgba(255,255,255,.1);


transition:.3s;


}



.card:hover{


transform:
translateX(8px);


border-color:orange;


}



.card h3{


color:orange;


margin-bottom:8px;


}



.card p{


color:#ccc;


}



/* =========================
FORM
========================= */


.contact-form{


background:

rgba(255,255,255,.06);


padding:40px;


border-radius:25px;


border:

1px solid rgba(255,255,255,.1);


backdrop-filter:blur(15px);


display:flex;


flex-direction:column;


gap:18px;


}




.contact-form h2{


font-size:30px;


color:orange;


margin-bottom:10px;


}



.contact-form input,
.contact-form textarea{


padding:17px;


border:none;


outline:none;


border-radius:14px;


background:#111;


color:white;


font-size:16px;


}



.contact-form textarea{


height:170px;


resize:none;


}




.contact-form input:focus,
.contact-form textarea:focus{


box-shadow:

0 0 0 2px orange;


}



.contact-form button{


padding:17px;


border:none;


border-radius:14px;


background:

linear-gradient(
90deg,
orange,
#dfff00
);


color:black;


font-weight:bold;


font-size:17px;


cursor:pointer;


transition:.3s;


}



.contact-form button:hover{



box-shadow:
0 10px 25px rgba(255,165,0,.3);


transform:
translateY(-4px);


}



/* =========================
SOCIAL ICONS
========================= */


.social-icons{


display:flex;


justify-content:center;


gap:20px;


margin:60px 0;


}




.social-icons a{


width:60px;


height:60px;


border-radius:50%;


display:flex;


align-items:center;


justify-content:center;


background:#161616;


color:white;


font-size:25px;


text-decoration:none;


transition:.3s;


}




.social-icons a:hover{


background:orange;


color:black;


transform:

translateY(-6px);


}




/* =========================
MOBILE
========================= */


@media(max-width:768px){

header h1{
font-size:35px;
}

.contact-content{
grid-template-columns:1fr;
}

.contact-text h2{
font-size:32px;
}

#Ptext{
    text-align: center;
}

.contact-form{
padding:25px;
}

}

/* =========================
PREMIUM FOOTER
========================= */


.contact-footer{


margin-top:80px;


padding:70px 40px;


background:


linear-gradient(
180deg,
#111,
#080808
);


display:grid;


grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));


gap:45px;


border-top:
1px solid rgba(255,165,0,.25);


}




.footer-box h3{


font-size:28px;


margin-bottom:18px;


background:
linear-gradient(
90deg,
orange,
#dfff00
);


-webkit-background-clip:text;

-webkit-text-fill-color:transparent;


}




.footer-box h4{


font-size:20px;


margin-bottom:20px;


color:orange;


}



.footer-box p{


color:#aaa;


line-height:1.8;


font-size:15px;


}




.footer-box a{


display:block;


color:#aaa;


text-decoration:none;


margin:12px 0;


transition:.3s;


}




.footer-box a:hover{


color:orange;


transform:
translateX(8px);


}




/* SOCIAL ICONS */


.social-links{


display:flex;


gap:15px;


margin-top:25px;


}



.social-links a{


width:45px;


height:45px;


border-radius:50%;


display:flex;


align-items:center;


justify-content:center;


font-size:20px;


color:white;


background:#1a1a1a;


border:
1px solid rgba(255,255,255,.1);


transition:.3s;


}



.social-links a:hover{


background:orange;


color:black;


transform:
translateY(-5px);


}




/* COPYRIGHT */


.copyright{


text-align:center;


padding:22px;


background:#050505;


color:#777;


font-size:14px;


border-top:
1px solid rgba(255,255,255,.05);


}


/* FOOTER MOBILE */

@media(max-width:768px){

.contact-footer{


padding:50px 25px;


display:flex;


flex-direction:column;


text-align:center;


align-items:center;


gap:35px;


}



.footer-box{


width:100%;


}



.footer-box a:hover{


transform:none;


}



.social-links{


justify-content:center;


}


}